services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  Coolminds\PayByInvoice\:
    resource: '../../*'
    exclude: '../../{Entity,Tests,Resources}'

  Coolminds\PayByInvoice\EventSubscriber\SendOnInvoiceInvoiceEmailSubscriber:
    arguments:
      $onInvoicePaymentCode: '%coolminds_pay_by_invoice.payment_code%'
      $preventDuplicateMail: true

  Coolminds\PayByInvoice\Processors\OnInvoiceFeeProcessor:
    arguments:
      $onInvoicePaymentCode: '%coolminds_pay_by_invoice.payment_code%'
      $feePercentage: '%coolminds_pay_by_invoice.fee_percentage%'
      $fixedFeeGroupCode: '%coolminds_pay_by_invoice.fixed_fee_group_code%'
      $fixedFeeAmount: '%coolminds_pay_by_invoice.fixed_fee_amount%'
      $adjustmentFactory: '@sylius.factory.adjustment'
      $translator: '@translator'
    tags:
      - { name: sylius.order_processor, priority: 10 }

  Coolminds\PayByInvoice\Form\Extension\PaymentMethodChoiceTypeExtension:
    arguments:
      $onInvoiceFeePercentage: '%coolminds_pay_by_invoice.fee_percentage%'
      $onInvoiceFixedFeeAmount: '%coolminds_pay_by_invoice.fixed_fee_amount%'
      $onInvoiceDisplayInDescription: '%coolminds_pay_by_invoice.display_in_description%'
      $onInvoiceGroupCode: '%coolminds_pay_by_invoice.group_code%'
      $onInvoiceFixedFeeGroupCode: '%coolminds_pay_by_invoice.fixed_fee_group_code%'
      $onInvoicePaymentCode: '%coolminds_pay_by_invoice.payment_code%'
    tags:
      - { name: form.type_extension }
