{#Template for addint to invoice summary #}
{% set order = invoice.order %}

{% if order is defined %}
    {% set onInvoiceFeeTotal = order.getAdjustmentsTotal('on_invoice_fee') %}

    {% set fee_pct =
        on_invoice_fee_percentage is defined
        ? on_invoice_fee_percentage
        : 0
    %}

    {% if onInvoiceFeeTotal > 0 %}
        {% set firstAdj = order.getAdjustments('on_invoice_fee')|first %}
        {% set label = (firstAdj and firstAdj.label is not null and firstAdj.label is not same as(''))
            ? firstAdj.label
            : 'on_invoice.fee_label_with_percent'|trans({'%fee%': (fee_pct)}, 'messages', invoice.localeCode) %}
        <tr style="border: none !important">
            <td colspan="4" style="border: none !important"></td>
            <td class="text-right bg-gray">
                {{ label }}:
            </td>
            <td class="text-right bg-gray">
                {{ (onInvoiceFeeTotal / 100)|number_format(2, ',', '.') }}
            </td>
            <td class="text-right bg-gray">{{ order.currencyCode }}</td>
        </tr>
    {% endif %}
{% endif %}
