{% set _ctx = hookable_metadata.context ?? {} %}
{% set order = _ctx.order ?? _ctx.cart ?? _ctx.resource ?? null %}

{% if order %}
    {% set onInvoiceFeeTotal = order.getAdjustmentsTotal('on_invoice_fee') %}
    {% set firstAdj = (order.getAdjustments('on_invoice_fee')|first) %}
    {% set label = (firstAdj and firstAdj.label is not null and firstAdj.label is not same as(''))
        ? firstAdj.label
        : 'on_invoice.fee_label'|trans %}

    {% if onInvoiceFeeTotal > 0 %}
        <tr>
            <td>{{ label }}</td>
            <td class="text-end">
                {{ (onInvoiceFeeTotal / 100)|format_currency(order.currencyCode) }}
            </td>
        </tr>
    {% endif %}
{% endif %}
